<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found - WYNKER</title>
    <!-- Style -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Inter', sans-serif;
        }
    </style>

</head>

<body class="antialiased">
    <section class="h-screen flex flex-col justify-center items-center bg-gray-100 text-gray-700">
        <h1 class="uppercase text-3xl font-light tracking-wider md:text-5xl lg:text-7xl">404 Not Found</h1>
        <p class="mt-2 md:text-lg md:mt-3 lg:text-xl lg:mt-4">Sorry, the page you're looking for doesn't exist.</p>
    </section>
</body>

</html>