{% extends "layouts/logged_in_base.html" %}
{% block content %}

<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center mt-4">
        <h1 class="text-3xl font-semibold">Signing keys</h1>
    </div>
    <!-- Table -->
    {% if signing_keys %}
    <div class="mt-4 py-8">
        <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Email
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Fingerprint
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Created At
                                    </th>
                                    <th scope="col" class="relative px-6 py-3">
                                        <span class="sr-only">Action</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                                {% for key in signing_keys.items %}
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="flex items-center">
                                            <div>
                                                <div class="text-sm font-medium text-gray-900">
                                                    {{ key.email}}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900">{{ key.fingerprint }}</div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900">{{ key.created_at.strftime("%d/%m/%Y, %H:%M:%S") }}</div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium space-x-4">
                                        <a href="{{ url_for('signing_keys.remove_signing_key', fingerprint=key.fingerprint) }}" class="text-indigo-600 hover:text-indigo-900">Remove</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot class="bg-white">
                                <tr>
                                    <th scope="col" colspan="4" class="px-6 py-4 text-sm font-medium text-gray-600">
                                        <div class="flex justify-between">
                                            <p>{{total_count }} items</p>
                                            <div>
                                                <nav>
                                                    <ul class="flex space-x-6">
                                                        {% if signing_keys.has_prev %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                                href="{{url_for('signing_keys.index', page=signing_keys.prev_num)}}">Previous</a>
                                                        </li>
                                                        {% else %}
                                                        <li class="text-gray-400 disabled cursor-not-allowed">
                                                            <span class="page-link">Previous</span>
                                                        </li>
                                                        {% endif %}
                                                        {% if signing_keys.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                                href="{{url_for('signing_keys.index', page=signing_keys.next_num)}}">Next</a>
                                                        </li>
                                                        {% else %}
                                                        <li class="text-gray-400 disabled cursor-not-allowed">
                                                            <span class="page-link">Next</span>
                                                        </li>
                                                        {%endif%}
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}