<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - SPAR</title>
    {% else %}
    <title>SPAR</title>
    {% endif %}
    <!-- Style -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Inter', sans-serif;
        }
    </style>


    <!-- Extra CSS -->
    {% block extra_css %}
    {% endblock %}
</head>

<body class="antialiased">
    {% block content %}
    {% endblock %}

    <!-- Script -->
    {% block extra_js %}
    {% endblock %}
</body>

</html>